#container{
    display: block;
    margin: auto;
}

#error{
    display: block;
    margin: auto;
    position: relative;
    width: 300px;
}

#loader{
    position: fixed;
    z-index: 99;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
#timer{
    /*float: right;*/
    /*margin-right: 20px;*/
    /*font-size: 20px;*/
    /*color: white;*/
    /*font-weight: bold;*/
}

#content{
    height: 500px;
    width: 75%;
}

#loader img{
    z-index: 100;
}

/* Transparent Overlay */
#loader:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
#loader:not(:required) {
    /* hide "loader..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

#loader:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
}

#uploadBox{border: black solid 1px;
    padding: 10px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    display: block;
    /*margin: auto;*/
    position: relative;
    background-color: lightgrey;
}

h2{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#uploadBox button{
    display: block;
    margin: auto;
}